psycopg2
flask
pandas
numpy
sqlalchemy
python-dotenv
word2vec
flask
pandas
numpy
tweepy
praw
XlsxWriter
requests
python-dotenv
flask
pandas
openpyxl
spacy
nltk 


nltk
matplotlib
sklearn
requests
transformers
flask
flask-cors
requests
Torch



